/* Importar las fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Licorice&family=JejuMyeongjo&family=Gafata&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Gafata', sans-serif;
}

.welcome {
    position: relative;
    width: 100vw; /* Asegura que el ancho sea el del viewport */
    height: 100vh; /* Asegura que la altura sea la del viewport */
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('assets/img/portada.jpg') no-repeat center center/cover;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Negro con 30% de opacidad; ajusta según necesidad */
}

.date {
    position: absolute;
    width: 80%; /* Ajustar el ancho para la pantalla móvil */
    left: 50%; /* Centrando horizontalmente */
    transform: translateX(-50%); /* Ajusta el texto horizontalmente al centro */
    bottom: 5%; /* Ajustar la posición vertical desde el fondo */
    font-family: 'Gafata', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.nos-casamos {
    position: absolute;
    width: 80%; /* Ajustar el ancho para la pantalla móvil */
    left: 50%; /* Centrando horizontalmente */
    transform: translateX(-50%); /* Ajusta el texto horizontalmente al centro */
    top: 10%; /* Ajustar la posición vertical desde el fondo */
    font-family: 'JejuMyeongjo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;
}

.nombres {
    position: absolute;
    width: 90%; /* Ajustar el ancho para la pantalla móvil */
    top: 73%; /* Ajustar la posición vertical */
    display: flex;
    flex-direction: column;
}

.nombre-rodrigo,
.nombre-isabel {
    position: relative;
    font-family: 'Luxurious Script', cursive;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 10vw; /* Tamaño relativo al viewport */
    line-height: 0.8em; /* Ajuste de altura de línea */
}
.nombre-rodrigo{
    left: 10%;
}

.nombre-rodrigo::first-letter,
.nombre-isabel::first-letter {
    font-size: 26vw; /* Tamaño grande para la primera letra */
}

.y {
    font-family: 'Licorice', cursive;
    font-style: normal;
    position: relative;
    font-weight: 400;
    font-size: 10vw; /* Tamaño relativo al viewport */
    line-height: 1em; /* Ajuste de altura de línea */
    color: #FFFFFF;
    left: 55%;
    margin: 0; /* Asegura que no haya margen extra */
}

.nombre-isabel {
    left: 60%;/* Espacio adicional entre el símbolo & y el nombre Isabel */
}

@media screen and (max-width: 1368px) {
    .nombres {
        top: 65%; /* Ajusta aún más la posición vertical en pantallas muy pequeñas */
    }
}