:root {
  --main-color: #a77a4e; /* color dorado/marrón suave */
  --bg-light: #f8f7f5;
  --font-main: 'Georgia', serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: var(--font-main);
  background: var(--bg-light);
  color: #333;
  line-height: 1.6;
}

/* Portada */
.hero {
  background: url('assets/img/portada.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;

}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.overlay {
  position: relative;
  color: #fff;
  z-index: 99999;
}

.subtitle {
  font-style: italic;
  margin-bottom: 1rem;
}

.names {
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 1.2rem;
}

/* Detalles */
.details {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 1rem;
}

.block {
  background: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.block h2 {
  letter-spacing: 3px;
  margin-bottom: .5rem;
}

.block .hour {
  color: var(--main-color);
  font-style: italic;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #8c6239;
}

/* RSVP */
.rsvp {
  background: #e6e1d9;
  padding: 3rem 1rem;
}

.rsvp h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

.radio-label {
  display: flex;             
  align-items: center;    
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;  
  text-align: left;
}

.radio-button {
  accent-color: var(--main-color);
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-2 input {
  width: 100%; 
  box-sizing: border-box;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem; 
}

select, textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button.btn {
  cursor: pointer;
  border: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background: #fff;
  font-size: 0.9rem;
}

/* Responsivo */
@media (max-width: 300px) {
  .names { font-size: 2rem; }
  .grid-2 { grid-template-columns: 1fr; }
}
